.button:hover,
button:disabled {
  opacity: 80%;
}
.button {
  cursor: pointer;
}

.outline {
  background-color: inherit;
  padding: 10px 15px;
  font-weight: bold;
}
.base {
  color: var(--color-base);
  border: 2px solid var(--color-base);
}
.secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
.primary {
  color: var(--color-primary);
  font-size: 24px;
  padding: 10px 15px;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  background-color: var(--color-base);
  text-wrap: nowrap;
}

.primary:main,
.button:focus {
  user-select: auto;
}

.primary:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.primary:disabled {
  cursor: auto;
}

.primary:active {
  border-width: 4px 0 0;
  background: none;
}

@media (max-width: 680px) {
  .primary {
    font-size: 19px;
  }
}
