.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper h1 {
  margin-bottom: 20px;
}
.tab {
  color: var(--color-primary);
  background-color: var(--color-gray);
  border-radius: 20px;
  border: none;
  font-size: 23px;
  text-wrap: nowrap;
  padding: 10px 12px;
  transition: color 0.3s ease-out;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-base);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.firstTab {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstTab h4 {
  text-align: center;
}
.tabs {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.admissionEnd {
  text-align: center;
}
.by {
  align-self: flex-end;
}
.selection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectionStep {
  padding: 10px;
  text-align: center;
}

.dots {
  width: 55%;
  left: 50%;
  z-index: -20;
  opacity: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: none;
  border-bottom: 5px dotted black;
  position: absolute;
}
.appear {
  animation: fadeIn 1s;
}
.hint {
  background-color: var(--color-gray);
  padding: 20px 30px;
  border-radius: 20px;
}
.hint h3 {
  color: var(--color-primary);
  margin-bottom: 20px;
}
.askQuestion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.askQuestion h3 {
  text-align: center;
}
.askQuestion form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.askQuestion form * {
  flex: 1;
}
.tabContentWrapper {
  margin-top: 20px;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list {
  margin-top: 10px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}
@media screen and (max-width: 1100px) {
  .tabs {
    max-width: 1000px;

    overflow-x: scroll;
  }
}
@media screen and (max-width: 850px) {
  .askQuestion form {
    flex-direction: column;
  }
  .tabs {
    max-width: 800px;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 740px) {
  .selection {
    flex-direction: column;
    gap: 50px;
  }
  .tabs {
    max-width: 600px;
  }
  .dots {
    display: none;
  }
}
@media screen and (max-width: 532px) {
  .tabs {
    max-width: 400px;
  }
  .tab {
    font-size: 16px;
    padding: 10px 6px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
