.wrapper {
  position: relative;
}
.wrapper h1 {
  margin-bottom: 80px;
}
.wrapper li {
  color: var(--color-primary);
}
.content {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
  gap: 20px;
}
.right {
  flex: 1;
}
.tab {
  color: var(--color-primary);
  background-color: var(--color-gray);
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 12px;
  transition: color 0.3s ease-out;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-base);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.firstTab {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstTab h4 {
  text-align: center;
}
.arrowRight {
  color: var(--color-primary);
  font-size: 50px;
  font-weight: bold;
}
/* .tabs {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding-bottom: 20px;
} */
.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: 372px;
}

.admissionEnd {
  color: black;
  margin-top: 40px;
  text-align: center;
}
.by {
  text-align: right;
}
.selection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectionStep {
  padding: 10px;
  text-align: center;
}

.dots {
  width: 55%;
  left: 50%;
  z-index: -20;
  opacity: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: none;
  border-bottom: 5px dotted black;
  position: absolute;
}
.appear {
  animation: fadeIn 1s;
}
.hint {
  margin-top: 20px;
  background-color: var(--color-gray);
  padding: 20px 30px;
  border-radius: 20px;
}
.hint h3 {
  color: var(--color-primary);
  margin-bottom: 20px;
}
.askQuestion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formUp {
  display: flex;
  gap: 10px;
}

.askQuestion h3 {
  text-align: center;
}
.askQuestion form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.askQuestion form * {
  flex: 1;
}
.tabContentWrapper {
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list {
  margin-top: 10px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}
@media screen and (max-width: 1100px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;
    padding-bottom: 20px;
  }
  .tab {
    text-wrap: nowrap;
  }
}
@media screen and (max-width: 850px) {
  .askQuestion form {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .selection {
    flex-direction: column;
    gap: 50px;
  }
  .formUp {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }

  .arrowRight {
    transform: rotate(90deg);
  }
  .dots {
    display: none;
  }
}
@media screen and (max-width: 532px) {
  .tab {
    font-size: 16px;
    padding: 10px 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
