.container {
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.bg {
  width: 100%;
  height: 60vh;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--color-secondary);
}
.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.selectWrapper > span {
  font-weight: bold;
}
.formLeft,
.formRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form {
  background-color: var(--color-base);
  padding: 15px;
  border-radius: 10px;
  gap: 5px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.formContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 760px) {
  .form {
  }
  .formContent {
    position: initial;
    grid-template-columns: 1fr;
  }
}
