button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.noScroll {
  overflow: hidden;
}
.error,
.success {
  overflow: hidden;
  min-height: 20px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
}
.success {
  color: #270;
  background-color: #dff2bf;
}
label {
  font-weight: bold;
}
:root {
  font-family: "Rubik", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #7d0000;
  --color-base: #fefefe;
  --color-secondary: #fa8334;
  --color-gray: #ced4da;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}
