.wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.programWrapper {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.program {
  display: grid;
  grid-template-columns: 1fr 60px;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: var(--color-base);
}
.program:hover {
  transform: scale(105%);
}
.program h1 {
  font-weight: bold;
}
.list {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
.imgWrapper {
  width: 60px;
  height: 60px;
}
.imgWrapper > img {
  width: 100%;
  height: 100%;
}
.go {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/bg.png");
}
.go h1 {
  text-align: center;
}
.scheduleWrapper {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.scheduleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scheduleLeft {
  font-size: 22px;
}
.dottedLine {
  flex: 1;
  border-bottom: 3px dotted var(--color-primary);
  margin: 0 10px;
}
.scheduleRight {
  color: var(--color-primary);
  font-size: 24px;
}

@media screen and (max-width: 525px) {
  .scheduleLeft {
    font-size: 16px;
  }
  .scheduleRight {
    font-size: 20px;
  }
}
